.titulos{
    text-align: center;
    font-size: 36px;
    color: white;
    letter-spacing: 2px;
    margin: 20px 0; 
    padding-top: 40px;
}

.parrafos {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin: 10px 0;
}

.container {
    background-color: #c6c6f6;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

main {
    margin-top: 30px;
    position: relative;
    top: 120px;
}